<div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <div class="row post">
          <div class="col-md-1">
 
          </div>
          <div class="col-md-11">
            <span>
              <span class="subreddit-text"><a class="post-url" >Vlolunteering for hospital</a></span>
              <span> . Posted
                <span> 2h:30min</span>
                by              
                <a class="username" >Dr. Ritha</a>
              </span>
            </span>
            <hr />
            <a routerLink="post.url" class="post-title">Vlolunteering for hospital</a>
            <div>
              <p class="post-text" ></p>
            </div>
            <div class="post-comment">
              <form >
                <div class="form-group">
                  <textarea class="form-control"  placeholder="Your Thoughts?"></textarea>
                </div>
                <button type="submit" class="login float-right">Comment</button>
              </form>
            </div>
            <div style="margin-top: 60px;">
              <div class="comment">
                <div class="username">
                  <a routerLink="/user/comment.username">Dr.Yosra</a>
                </div>
                <div>
                  <p>2:55 pm</p>
                </div>
                <b>It's a great event !! i will participaate</b>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
        <app-subreddit-side-bar></app-subreddit-side-bar>
      </div>
    </div>
  </div>
  